// Place all the styles related to the expence controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


a{
  color: #ffffff;
  font-size: 25px;
  display: block;
  background-color:#4db8ff;
  }
